% rebase('osnova.html')
<div class="container">
<p>
<h3 class="title is-3">Države</h3>
</p>
<form action="/drzave-razvrstitev-stevilo-zmag/">
    <p>
    <div class="field">
        <div class="control">
            <button class="button is-info is-outlined">Razvrstitev po številu zmag</button>
        </div>
    </p>
</form>

<form action="/drzave-razvrstitev-stevilo-stopnick/">
    <p>
    <div class="field">
        <div class="control">
            <button class="button is-info is-outlined">Razvrstitev po številu stopničk</button>
        </div>
    </p>
</form>

<form action="/drzave-razvrstitev-stevilo-top-deset/">
    <p>
    <div class="field">
        <div class="control">
            <button class="button is-info is-outlined">Razvrstitev po številu uvrstitev med najboljših 10</button>
        </div>
    </p>
</form>

<form action="/drzave-razvrstitev-tocke/">
    <p>
    <div class="field">
        <div class="control">
            <button class="button is-info is-outlined">Razvrstitev po točkah</button>
        </div>
    </p>
</form>

<form action="/drzave-razvrstitev-stevilo-ol-medalj/">
    <p>
    <div class="field">
        <div class="control">
            <button class="button is-info is-outlined">Razvrstitev po številu olimpijskih medalj</button>
        </div>
    </p>
</form>

<form action="/drzave-razvrstitev-stevilo-sp-medalj/">
    <p>
    <div class="field">
        <div class="control">
            <button class="button is-info is-outlined">Razvrstitev po številu medalj iz svetovnih prvenstev</button>
        </div>
    </p>
</form>

<form action="/drzave-razvrstitev-na-milijon/">
    <p>
    <div class="field">
        <div class="control">
            <button class="button is-info is-outlined">Razvrstitev po številu točk na milijon prebivalcev</button>
        </div>
    </p>
</form>

<form action="/drzave-razvrstitev-na-milijardo-bdp/">
    <p>
    <div class="field">
        <div class="control">
            <button class="button is-info is-outlined">Razvrstitev po številu točk na milijardo bdp-ja</button>
        </div>
    </p>
</form>
</div>