% rebase('osnova.html')
<div class="container">
<p>
<h3 class="title is-3">Sezone</h3>
</p>
<form action="/najboljsih-10-tekmovalk/">
    <h6 class="title is-6">Katera sezona vas zanima?</h6>
    <div class="field has-addons">
        <div class="control">
            <input class="input" type="text" placeholder="npr. 2021/2022" name="iskalni_niz">
        </div>
    <div class="control">
    <button class="button is-info">
      Išči najboljših 10 tekmovalk
    </button>
  </div>
</div>
</form>
<p>
<form action="/najboljsih-10-drzav/">
    <h6 class="title is-6">Katera sezona vas zanima?</h6>
    <div class="field has-addons">
        <div class="control">
            <input class="input" type="text" placeholder="npr. 2021/2022" name="iskalni_niz">
        </div>
    <div class="control">
        <button class="button is-info">
          Išči najboljših 10 držav
        </button>
      </div>
    </div>
</form>
</p>
</div>