% rebase('osnova.html')
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h2 class="title is-2">
                Ženski smučarski skoki
            </h2>
            <h4 class="title is-4">
                Statistika ženskih skokov
            </h4>
        </div>
    </div>
</section>
<div class="container">
<h5 class="title is-5">Izberite kaj si želite ogledati.</h5>
<form action="/sezone/">
<div class="field">
    <p>
        <div class="control">
            <button class="button is-info is-outlined">Sezone</button>
        </div>
    </p>
</form>
<form action="/tekmovalke/">
<div class="field">
    <p>
        <div class="control">
            <button class="button is-info is-outlined">Tekmovalke</button>
        </div>
    </p>
</form>
<form action="/drzave/">
<div class="field">
    <p>
        <div class="control">
            <button class="button is-info is-outlined">Države</button>
        </div>
    </p>
</form>
<form action="/skakalnice/">
<div class="field">
    <p>
        <div class="control">
            <button class="button is-info is-outlined">Skakalnice</button>
        </div>
    </p>
</form>
</div>
